body {
  text-align: center;
  font-family: Georgia;
  font-size: 18px;
  font-weight: lighter;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

a:link {
  color: gray;
}

a:visited {
  color: gray;
}

a:hover {
  color: black;
}

h2 {
  font-family: Georgia;
  font-size: 18px;
  margin: 15px 0 5px 0;
}

a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
}

@media (max-width: 600px) {
  body {
    font-size: 20px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  a {
    padding: 8px 5px;
  }
}